<header class="header">
  <div class="container">
    <div class="header__wrap">
      <app-logo [title]="title"></app-logo>
      <div class="header__navbar">
        <span *ngIf="username" class="navbar__item">
          <mat-icon class="navbar__icon">person</mat-icon>
          {{ username }}
        </span>
        <button class="navbar__item header__button" (click)="onLogout()">
          <mat-icon class="navbar__icon">exit_to_app</mat-icon>
          Log out
        </button>
      </div>
    </div>
  </div>
</header>
