.header {
  background-color: #303240;
}

.header__wrap {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar__item {
  padding: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #ffffff;
}

.header__button {
  transition: opacity 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98);

  &:hover {
    opacity: 0.7;
  }
}

.navbar__icon {
  display: flex;
  align-items: center;
  font-size: 20px;
}
