<div
  class="course-card"
  appCourseItemBorder
  [creationDate]="course.creationDate"
  [ngClass]="{ 'course-card--top-rated': course.topRated }">
  <div class="course-card__wrap">
    <div class="course-card__header">
      <h2 class="course-card__title">
        {{ course.title
        }}<mat-icon *ngIf="course.topRated" class="course-card__label"
          >star</mat-icon
        >
      </h2>
      <div class="course-card__details">
        <div class="course-card__detail">
          <mat-icon class="course-card__icon">access_time</mat-icon>
          {{ formatDurationToString(course.duration) }}
        </div>
        <div class="course-card__detail">
          <mat-icon class="course-card__icon">calendar_today</mat-icon>
          {{ course.creationDate }}
        </div>
      </div>
    </div>
    <div class="course-card__content">
      <p class="course-card__desc">{{ course.description }}</p>
      <div class="course-card__controls">
        <app-button
          [className]="'button--secondary'"
          [text]="'Edit'"
          [icon]="'edit'"
          [dataTestId]="'edit-button'"
          (buttonClick)="onEditClick()">
        </app-button>
        <app-button
          [className]="'button--secondary'"
          [text]="'Delete'"
          [icon]="'delete'"
          [dataTestId]="'delete-button'"
          (buttonClick)="onDeleteClick()">
        </app-button>
      </div>
    </div>
  </div>
</div>
