<div class="course-card">
  <div class="course-card__wrap">
    <div class="course-card__header">
      <h2 class="course-card__title">
        <span data-testid="course-title">{{ course.title }}</span>
      </h2>
      <div class="course-card__details">
        <div class="course-card__detail">
          <mat-icon class="course-card__icon">access_time</mat-icon>
          <span data-testid="course-duration">{{
            formatDurationToString(course.duration)
          }}</span>
        </div>
        <div class="course-card__detail">
          <mat-icon class="course-card__icon">calendar_today</mat-icon>
          <span data-testid="course-creation-date">{{
            course.creationDate
          }}</span>
        </div>
      </div>
    </div>
    <div class="course-card__content">
      <p class="course-card__desc">
        <span data-testid="course-description">{{ course.description }}</span>
      </p>
      <div class="course-card__controls">
        <app-button
          [className]="'button--secondary'"
          [text]="'Edit'"
          [icon]="'edit'"
          [dataTestId]="'edit-button'"
          (buttonClick)="onEditClick()">
        </app-button>
        <app-button
          [className]="'button--secondary'"
          [text]="'Delete'"
          [icon]="'delete'"
          [dataTestId]="'delete-button'"
          (buttonClick)="onDeleteClick()">
        </app-button>
      </div>
    </div>
  </div>
</div>
