.courses__wrap {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.courses__info {
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.courses__text {
  font-size: 18px;
}

.courses__button--end {
  align-self: flex-end;
}

.courses__button--center {
  align-self: center;
}
