<section class="courses">
  <div class="container">
    <div class="courses__wrap">
      <app-search></app-search>
      <app-button
        class="courses__button--end"
        [className]="'button--secondary'"
        [text]="'Add course'"
        [icon]="'add_circle_outline'"
        (clickEvent)="onAddCourseClick()">
      </app-button>
      <app-course-list
        [courses]="courses"
        (editCourseEvent)="onEditCourse($event)"
        (deleteCourseEvent)="onDeleteCourse($event)">
      </app-course-list>
      <app-button
        class="courses__button--center"
        [text]="'Load more'"
        (clickEvent)="onLoadMoreClick()">
      </app-button>
    </div>
  </div>
</section>
