<section class="courses">
  <div class="container">
    <div class="courses__wrap">
      <app-search></app-search>
      <app-button
        class="courses__button--end"
        [className]="'button--secondary'"
        [text]="'Add course'"
        [icon]="'add_circle_outline'"
        [dataTestId]="'add-course-button'"
        (buttonClick)="onAddCourseClick()">
      </app-button>
      <ng-container *ngIf="courses.length > 0; else noData">
        <app-course-list
          [courses]="courses"
          (courseEdit)="onEditCourse($event)"
          (courseDelete)="onDeleteCourse($event)">
        </app-course-list>
        <app-button
          class="courses__button--center"
          [text]="'Load more'"
          [dataTestId]="'load-more-button'"
          (buttonClick)="onLoadMoreClick()">
        </app-button>
      </ng-container>
      <ng-template #noData>
        <div class="courses__info">
          <p class="courses__text">No data. Feel free to add new course</p>
          <img
            src="./assets/images/no-data.png"
            alt="No data image"
            width="180" />
        </div>
      </ng-template>
    </div>
  </div>
</section>
